:root {
    /*colors*/
    --color-red: #9a483f;
    --color-main-red: #ff0000;
    --color-gray: #939392;
    --color-dark-gray: #767678;
    --color-light-gray: #d2d9dc;
    --color-yellow: #cfc390;
}

body {
    background-image: url('/assets/bg.webp');
    background-size: cover;
}

.content {
    padding: 20px;
    max-width: 1920px;
    margin: 0 auto;
}

.diary__grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 40px;
    max-width: 90%;
}

.diary__xp-block {
    max-width: 200px
}

.diary__xp-block-top {
    height: 40px;
    background-color: var(--color-red);
    clip-path: polygon(0 100%, 0% 50%, 5% 30%, 18% 30%, 22% 45%, 25% 30%, 76% 30%, 80% 45%, 84% 30%, 96% 30%, 100% 50%, 100% 100%);
}

.diary__xp-block-bottom {
    background-color: var(--color-red);
    color: #FFF;
    display: flex;
    position: relative;
    padding-right: 40px
}

.sticker {
    background-color: #fff;
    border-radius: 20%;
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -3px 2px 5px -2px rgba(0, 0, 0, 0.75);
    transition: 0.2s transform;
    fill: currentColor;
}

.sticker svg {
    transform: rotate(-45deg);
    opacity: 0.4;
}

.sticker.earned-sticker svg {
    color: var(--color-red);
    opacity: 1;
}

.sticker.auto-sticker.earned-sticker svg,
.sticker.legendary-sticker.earned-sticker svg {
    color: var(--color-yellow);
}

@keyframes lr {
    0% {
        transform: scale(1.1) rotate(43deg);
    }

    50% {
        transform: scale(1) rotate(47deg);
    }

    100% {
        transform: scale(1.1) rotate(43deg);
    }
}

@media(hover:hover) {
    .sticker:not(.auto-sticker):hover {
        cursor: pointer;
        transform: scale(1.1) rotate(45deg);
        animation: lr 0.8s infinite;
    }
}

@media(max-width: 1440px) {
    .diary__grid {
        max-width: 100%;
    }
}

@media(max-width: 1050px) {
    .diary__xp-block {
        max-width: 480px;
    }

    .diary__grid {
        grid-template-columns: unset;
    }

    .content {
        padding: 20px 10px 20px 10px;
    }
}