:root {
    /*colors*/
    --color-red: #9a483f;
    --color-main-red: #ff0000;
    --color-gray: #939392;
    --color-dark-gray: #767678;
    --color-light-gray: #d2d9dc;
    --color-yellow: #e3d59e;
}

body {
    background-image: url('../public/assets/bg.webp');
    background-size: cover;
}

.diary__grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 40px;
}

.diary__xp-block {
    max-width: 200px
}

.diary__xp-block-top {
    height: 40px;
    background-color: var(--color-red);
}

.diary__xp-block-bottom {
    background-color: var(--color-red);
    color: #FFF;
    display: flex;
    position: relative;
    padding-right: 40px
}

.sticker {
    background-color: #fff;
    border-radius: 20%;
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: -3px 2px 5px -2px rgba(0, 0, 0, 0.75);
    transition: 0.2s transform;
}

.sticker svg {
    transform: rotate(-45deg);
    opacity: 0.4;
}

.sticker:hover {
    transform: scale(1.1) rotate(45deg);
    animation: lr 0.8s infinite;
}

@keyframes lr {
    0% {
        transform: scale(1.1) rotate(43deg);
    }

    50% {
        transform: scale(1) rotate(47deg);
    }

    100% {
        transform: scale(1.1) rotate(43deg);
    }
}