.diary__memories {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(13, 1fr);
    column-gap: 20px;
    height: fit-content;
}

.diary__memory {
    padding: 5px 0;
    border-bottom: 2px solid var(--color-main-red);
    position: relative;
}

.diary__memory input[type=number] {
    border: none;
    border-bottom: 2px solid #000;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 40px;
    background-color: transparent;
    text-align: center;
    color: var(--color-main-red);
    font-weight: 600;
}

.diary__memory-attempts {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.diary__memory-attempt,
.diary__memory-cmark {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.diary__memory input[type=number]::-webkit-outer-spin-button,
.diary__memory input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.diary__memory input[type=number] {
    -moz-appearance: textfield;
}

.diary__memory input[type=checkbox] {
    display: none;
}

.diary__memory label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.diary__memory label:hover span,
.diary__memory label:hover i {
    color: var(--color-dark-gray);
    border-color: var(--color-dark-gray)
}

.diary__memory label span {
    margin-left: 10px;
}

.diary__memory label i {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 5px;
}

.diary__memory input[type=checkbox]:checked+label i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 1em 1em var(--color-main-red);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.diary__memory input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

.diary__memory-contract {
    display: flex;
    align-items: center;
}

.diary__memory-stickers {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-60%);
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
    align-items: center;
}